<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Frontend/css/fontAwesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Frontend/css/button.css" />
    <link rel="stylesheet" href="~/Frontend/css/Index.css" />
    <link rel="stylesheet" href="~/Frontend/assets/nprogress/nprogress.css" />
    <link rel="stylesheet" href="~/Frontend/assets/dialog/css/dialog.css" />
    <script src="~/Frontend/assets/dialog/js/snap.svg-min.js"></script>
    <script src="~/Frontend/assets/dialog/js/modernizr.custom.js"></script>    
</head>
<body>
    <nav class="navbar">
    </nav>
    <div class="main-container">
        <div class="sidebar">
            <!--包裹一层200px的div用来，遮盖内部180px的滚动条-->
            <div class="sidebar-content" id="sidebar">
            </div>
        </div>
        <div class="content">
            @if (@ViewBag.Header != null)
            {
                <div class="header">
                    <span class="move">@ViewBag.Header</span>
                </div>
            }            
            @RenderBody()
        </div>
    </div>
    <script src="~/Frontend/js/jquery-3.1.0.min.js"></script>
    <script src="~/Frontend/assets/nprogress/nprogress.js"></script>
    <script src="~/Frontend/assets/dialog/js/classie.js"></script>
    <script src="~/Frontend/assets/dialog/js/dialogFx.js"></script>
    <script src="~/Frontend/js/app/app.js"></script>
    <script src="~/Frontend/js/app/index.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
